:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--siara-text);
  background-color: var(--siara-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: var(--siara-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--siara-secondary);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  
  /* Allow full-width layouts */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--siara-header);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--siara-btn-border);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--siara-text);
    background-color: var(--siara-bg);
  }
  a:hover {
    color: var(--siara-secondary);
  }
  button {
    background-color: var(--siara-header);
  }
}
